{% extends 'plantillas/layout.html' %}

{% block content %}

<div class = "InformacionEmpresa">
    <article>
        <h1>
            Acerca de JAGUARETE KAA S.A.
        </h1>
        <b>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste aperiam quam, quas perferendis,
            temporibus atque iure neque consequatur corrupti velit pariatur officia nam doloremque sunt deserunt quo a 
            tenetur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste aperiam quam, quas perferendis,
            temporibus atque iure neque consequatur corrupti velit pariatur officia nam doloremque sunt deserunt quo a 
            tenetur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste aperiam quam, quas perferendis,
            temporibus atque iure neque consequatur corrupti velit pariatur officia nam doloremque sunt deserunt quo a 
            tenetur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste aperiam quam, quas perferendis,
            temporibus atque iure neque consequatur corrupti velit pariatur officia nam doloremque sunt deserunt quo a 
            tenetur!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates iste aperiam quam, quas perferendis,
            temporibus atque iure neque consequatur corrupti velit pariatur officia nam doloremque sunt deserunt quo a 
            tenetur! 
        </b>
    </article>
</div>

{% endblock %}